server:
  port: 9000

spring:
  datasource:
    url: jdbc:h2:mem:maindb
    username: root
    password: root
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  yandex:
    url: "https://translate.api.cloud.yandex.net/translate/v2/translate"
    token: "Api-Key *сюда вставить свой токен*"